.featuert {
  display: flex;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
  height: 696px;
}
.featuert .featuert_container {
  display: flex;
  gap: 64px;
  flex-direction: column;
  width: 1110px;
  height: 696px;
}
.featuert .featuert_container .featuert_header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 72px;
}
.featuert .featuert_container .featuert_header h5 {
  font-weight: 700;
  font-size: 72px;
  line-height: 89%;
  letter-spacing: -0.03em;
  color: #1b1d23;
}
.featuert .featuert_container .featuert_header a {
  text-decoration: none;
  width: 169px;
}
.featuert .featuert_container .featuert_header a button {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  text-align: right;
  cursor: pointer;
  border: none;
  width: 169px;
  height: 72px;
  background: #1b1d23;
  color: #fff;
}
.featuert .featuert_container .featuert_header a button:hover {
  transition: 0.3s;
  background: #60636d;
}
.featuert .featuert_container .number_project {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 560px;
}
.featuert .featuert_container .number_project .project_1_number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 350px;
  height: 560px;
  background: url(../img/project_del_sol.png);
  background-repeat: no-repeat;
}
.featuert .featuert_container .number_project .project_1_number .text_part {
  padding-bottom: 39px;
  width: 200px;
  height: 64px;
}
.featuert .featuert_container .number_project .project_1_number .text_part h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
}
.featuert .featuert_container .number_project .project_1_number .text_part p {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  opacity: 0.75;
  color: #fff;
}
.featuert .featuert_container .number_project .tover_2_number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 350px;
  height: 560px;
  background: url(../img/tover.png);
  background-repeat: no-repeat;
}
.featuert .featuert_container .number_project .tover_2_number .text_2_number {
  padding-bottom: 39px;
  width: 200px;
  height: 64px;
}
.featuert .featuert_container .number_project .tover_2_number .text_2_number h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
}
.featuert .featuert_container .number_project .tover_2_number .text_2_number p {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  opacity: 0.75;
  color: #fff;
}
.featuert .featuert_container .number_project .le_3_number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 350px;
  height: 560px;
  background: url(../img/le_prototype.png);
  background-repeat: no-repeat;
}
.featuert .featuert_container .number_project .le_3_number .text_3_number {
  padding-bottom: 39px;
  width: 200px;
  height: 64px;
}
.featuert .featuert_container .number_project .le_3_number .text_3_number h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
}
.featuert .featuert_container .number_project .le_3_number .text_3_number p {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  opacity: 0.75;
  color: #fff;
}

@media (max-width: 1200px) {
  .featuert {
    height: 925px;
  }
  .featuert .featuert_container {
    width: 573px;
    height: 925px;
  }
  .featuert .featuert_container .featuert_header {
    width: 573px;
  }
  .featuert .featuert_container .number_project {
    flex-direction: column;
    width: 573px;
    height: 768px;
  }
  .featuert .featuert_container .number_project .project_1_number {
    justify-content: flex-start;
    width: 573px;
    height: 240px;
    background: url(../../img/le_prototype_tablet.png);
  }
  .featuert .featuert_container .number_project .project_1_number .text_part {
    padding-left: 40px;
  }
  .featuert .featuert_container .number_project .tover_2_number {
    justify-content: flex-start;
    width: 573px;
    height: 240px;
    background: url(../../img/tover_tablet.png);
  }
  .featuert .featuert_container .number_project .tover_2_number .text_2_number {
    padding-left: 40px;
  }
  .featuert .featuert_container .number_project .le_3_number {
    justify-content: flex-start;
    width: 573px;
    height: 240px;
    background: url(../../img/le_prototype_tablet.png);
  }
  .featuert .featuert_container .number_project .le_3_number .text_3_number {
    padding-left: 40px;
  }
}/*# sourceMappingURL=featuert.css.map */