footer {
  display: flex;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  height: 200px;
}
footer .footer_container {
  display: flex;
  width: 1110px;
  height: 200px;
}
footer .footer_container .arch_mobile {
  display: none;
  width: 1px;
  height: 1px;
}
footer .footer_container .arch_mobile img {
  width: 1px;
  height: 1px;
}
footer .footer_container .nav_buuton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 984px;
  height: 200px;
  background: #eeeff4;
}
footer .footer_container .nav_buuton nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 598px;
  height: 200px;
}
footer .footer_container .nav_buuton nav .arch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: #1b1d23;
}
footer .footer_container .nav_buuton nav ul {
  display: flex;
  gap: 51px;
  width: 313px;
  height: 25px;
  list-style: none;
}
footer .footer_container .nav_buuton nav ul a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  color: #7d828f;
}
footer .footer_container .nav_buuton nav ul a:hover {
  transition: 0.3s;
  color: #1b1d23;
}
footer .footer_container .nav_buuton a {
  transform: translateX(126px);
  text-decoration: none;
  width: 252px;
}
footer .footer_container .nav_buuton a button {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-left: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  text-align: right;
  cursor: pointer;
  border: none;
  width: 252px;
  height: 72px;
  background: #1b1d23;
  color: #fff;
}
footer .footer_container .nav_buuton a button:hover {
  transition: 0.3s;
  background: #60636d;
}

@media (max-width: 1200px) {
  footer {
    justify-content: center;
    height: 120px;
  }
  footer .footer_container {
    width: 768px;
    height: 120px;
  }
  footer .footer_container .arch_mobile {
    width: 1px;
    height: 1px;
  }
  footer .footer_container .arch_mobile img {
    width: 1px;
    height: 1px;
  }
  footer .footer_container .nav_buuton {
    width: 612px;
    height: 120px;
  }
  footer .footer_container .nav_buuton nav {
    gap: 20px;
    width: 473px;
    height: 120px;
  }
  footer .footer_container .nav_buuton nav .arch {
    width: 120px;
    height: 120px;
  }
  footer .footer_container .nav_buuton nav .arch img {
    width: 58px;
    height: 24px;
  }
  footer .footer_container .nav_buuton a {
    transform: translateX(30px);
  }
}
@media (max-width: 768px) {
  footer {
    align-items: center;
    width: 100%;
    height: 443px;
    background: #eeeff4;
  }
  footer .footer_container {
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 443px;
  }
  footer .footer_container .arch_mobile {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #1b1d23;
  }
  footer .footer_container .arch_mobile img {
    width: 58px;
    height: 24px;
  }
  footer .footer_container .nav_buuton {
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 443px;
  }
  footer .footer_container .nav_buuton nav {
    flex-direction: column;
    width: 120px;
    height: 120px;
  }
  footer .footer_container .nav_buuton nav ul {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    width: 72px;
    height: 139px;
  }
  footer .footer_container .nav_buuton nav .arch {
    display: none;
  }
  footer .footer_container .nav_buuton nav .arch img {
    display: none;
  }
  footer .footer_container .nav_buuton a {
    transform: translateX(0px);
  }
  footer .footer_container .nav_buuton a button {
    align-self: center;
    margin-bottom: 48px;
  }
}/*# sourceMappingURL=footer.css.map */