footer {
  display: flex;
  margin: 0 auto;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  max-width: 1110px;
  height: 200px;
  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 984px;
    height: 200px;
    background: #eeeff4;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 598px;
      height: 200px;
      .arch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        background: #1b1d23;
      }
      ul {
        display: flex;
        gap: 51px;
        width: 313px;
        height: 25px;
        list-style: none;
        a {
          text-decoration: none;
          font-weight: 700;
          font-size: 18px;
          line-height: 139%;
          color: #7d828f;
          &:hover {
            transition: 0.3s;
            color: #1b1d23;
          }
        }
      }
    }
    a {
      text-decoration: none;
      width: 252px;
      transform: translateX(126px);
      button {
        display: flex;
        gap: 24px;
        align-items: center;
        padding-left: 37px;
        font-weight: 700;
        font-size: 18px;
        line-height: 139%;
        text-align: right;
        cursor: pointer;
        border: none;
        width: 252px;
        height: 72px;
        background: #1b1d23;
        color: #fff;
        &:hover {
          transition: 0.3s;
          background: #60636d;
        }
      }
    }
  }
}
