header {
  display: flex;
  align-items: center;
  gap: 94.84px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  height: 40px;
  img {
    width: 96px;
    height: 40px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 313px;
    height: 25px;
    a {
      font-family: "League Spartan", sans-serif;
      text-decoration: none;
      font-weight: 700;
      font-size: 18px;
      line-height: 139%;
      color: #7d828f;
    }
    a:hover {
      transition: 0.3s;
      cursor: pointer;
      color: #1b1d23;
    }
  }
}
