.home_line {
  font-family: "League Spartan", sans-serif;
  position: fixed;
  left: 43px;
  width: 24px;
  height: 272px;
  .line {
    width: 1px;
    height: 104px;
    background: #c8ccd8;
  }
  p {
    padding-top: 49px;
    padding-right: 46px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 1em;
    transform: rotate(90deg);
    color: #c8ccd8;
  }
}
@media (max-width:1200px) {
  .home_line {
    left: 83px;
  }
}
@media (max-width: 768px) {
  .home_line {
    display: none;
  }
}
